<!DOCTYPE html>
<html>

{% load static %}

<head>
    <title>ProposalIQ</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="
    background-color:#0b1120;
    color:white;
    font-family:Arial;
    margin:0;
">

{% include "partials/public_navbar.html" %}

<div style="
    text-align:center;
    padding-top:120px;
    padding-left:10%;
    padding-right:10%;
">

    <h2 style="
        font-size:52px;
        margin-bottom:20px;
    ">
        Smarter freelance proposals powered by AI.
    </h2>

    <p style="
        font-size:22px;
        color:#cbd5e1;
        max-width:850px;
        margin:auto;
        line-height:1.6;
    ">
        ProposalIQ helps freelancers generate, optimise and track proposals
        using AI and real-world behavioural feedback.
    </p>

    <div style="margin-top:50px;">

        {% if user.is_authenticated %}

            <a href="/dashboard/" style="
                background-color:#1e90ff;
                color:white;
                padding:16px 34px;
                border-radius:10px;
                text-decoration:none;
                font-size:18px;
                font-weight:bold;
            ">
                Go To Dashboard
            </a>

        {% else %}

            <a href="/register/" style="
                background-color:#1e90ff;
                color:white;
                padding:16px 34px;
                border-radius:10px;
                text-decoration:none;
                font-size:18px;
                font-weight:bold;
            ">
                Get Started
            </a>

        {% endif %}

    </div>

</div>

</body>
</html>